<h1>Sky This Month February 2022</h1>
<h3>Venus steals the spotlight.</h3>
<img src="https://astronomy.com/-/media/Images/Magazine%20Articles/2022/02/ASYSM0222_06.jpg?mw=600"/><br/>
<figcaption>Five planets (and the Moon) stretch across the sky on an early morning in February 2016. This month, the starting lineup might be different, but the players are the same.</figcaption>

<p>
    <b>Venus</b> achieves its greatest brilliancy, dominating the predawn sky all month with its spectacular glow.
    Mars and Mercury join the dawn chorus of planets, and late in the month Saturn reappears from behind the
    Sun. With Jupiter heading for conjunction with our star, there are five major planets spanning less than
    50° along the ecliptic by the end of February.<br/>

    Let’s start with Jupiter, briefly visible after sunset during these early winter evenings. On Feb. 1,
    you’ll find the bright planet hanging 10° high in the western sky an hour after sunset. At magnitude –2,
    it’s bright enough to remain easily visible through the first week of February, and becomes more difficult
    to spot as the second week progresses.<br/>

    Saturn’s conjunction with the Sun occurs Feb. 4. By the end of the month, it reappears near Mercury.
    Keep reading for more details on how to spot it in the morning sky.<br/>

    <b>Neptune</b> sets three hours after sunset in early February. To spot this distant planet, try as soon as the
    sky is dark. On Feb. 3, the slender crescent Moon is a useful guide, with Neptune standing 4° due north
    of our satellite. The planet glows at magnitude 7.9 among the stars of eastern Aquarius the Water-bearer.
    A telescope will reveal a 6th-magnitude star 4° northeast of Phi (ϕ) Aquarii; Neptune lies only 1.5' due
    north of this star on Feb. 3. The ice giant tracks to the northeast during the rest of the month and is
    consumed by twilight before month’s end.<br/>

    <b>Uranus</b> is up all evening during February, located in Aries the Ram. It sets just after local midnight
    early in the month and about two hours earlier by the end of February. At magnitude 5.8, it’s just bright
    enough to spot with the unaided eye. But in a sparse region devoid of bright stars, it’s hard to track
    down.<br/>

    The planet lies about 11° south-southeast of Hamal, the brightest star in Aries, and 5.3° north-northwest
    of Mu (μ) Ceti. On Feb. 1, it pairs up with 6th-magnitude 29 Arietis — the two are just 25' apart. In
    binoculars, they should stand out as a close double, with slightly bluish Uranus due south of the star.
    A waxing Moon lies in the vicinity on Feb. 7. Uranus continues its easterly trek, moving to a point 43'
    east of 29 Arietis by Feb. 28. Point your telescope at Uranus to spy its 3"-wide disk. This distant giant
    lies 1.9 billion miles from Earth.<br/>
</p>

<img src="https://astronomy.com/-/media/Images/Magazine%20Articles/2022/02/ASYSM0222_07.png?mw=600"/><br/>
<figcaption><b>Venus’ big day</b>
    Venus shares the morning sky with Mercury and Mars on Feb. 12, when it reaches greatest brilliancy.</figcaption>

<p>
    All other planetary action occurs in the predawn sky, with four major planets visible in the latter half
    of February.<br/>

    <b>Venus</b> reaches an unusually brilliant moment this month, when it outshines its normal greatest brilliancy
    by a few percent and hits magnitude –4.9 during the first half of February. Venus always reaches its
    brightest when it’s 26 percent lit, which occurs Feb. 12.<br/>

    Typically, Venus is magnitude –4.5 at this time, but its actual brightness also depends on its distance
    from Earth. The reason Venus is exceptionally bright this month is that its elliptical orbit carries it
    closer to Earth than usual. The typical variation in distance is between 0.44 and 0.47 astronomical unit
    (AU; where 1 AU is the average Earth-Sun separation) — that’s 40.9 million to 43.7 million miles. This year
    , it’s just 0.41 AU (38 million miles), thus providing one of the rare moments that the planet exceeds its
    usual brilliance.<br/>

    Follow Venus with a telescope throughout the month. Situated among the rich star fields of Sagittarius,
    you can’t miss it rising more than two hours before sunup. The best times to catch a glimpse are in late
    twilight or even daylight. That’s because the planet’s great brilliancy causes glare in your scope when
    the sky is dark, making it hard to see well.<br/>

    <b>On Feb. 1</b>, Venus spans a giant 49" on the sky but is a narrow, 16-percent-lit crescent. During the month,
    Venus fattens and shrinks in apparent size. By Feb. 13, it spans 40" once it’s 26 percent lit and shining
    at its greatest brilliancy. Its brightness dips to –4.8 by Feb. 17, and by another 0.1 magnitude by the
    end of the month. Now the disk spans 32" and is 38 percent lit. The bright planet’s good show will continue
    into March, when it reaches greatest elongation.<br/>
</p>

<img src="	https://astronomy.com/-/media/Images/Magazine%20Articles/2022/02/ASYSM0222_05.jpg?mw=600"/><br/>
<figcaption><b>Mars meets up with M22</b>
    <b>On Feb. 5</b>, Mars comes close to the globular cluster M22. You can catch them together in binoculars.
    This shot shows a different close approach, which occurred in November 2014.</figcaption>

<p>
    Mars joins Venus in the sky, although as a much fainter, dull orange ember glowing at magnitude 1.4.
    The Red Planet starts February 9° southwest of Venus and the pair moves across Sagittarius together in
    lockstep. Though a telescope, Mars is tiny, spanning 4". It is beginning its slow progress to an
    end-of-year opposition.<br/>

    <b>By Feb. 12</b>, Mars lies 6.6° south of Venus, the two planets straddling the Teaspoon asterism in eastern
    Sagittarius. They remain roughly this distance apart as they continue to trek with each other across the
    Archer’s starry realm.<br/>

    You can spy Mercury an hour before sunrise, when it stands 19° east of Mars on Feb. 1, shining at
    magnitude 1.1. It brightens to magnitude 0.5 by Feb. 5. That same morning, check out Mars in binoculars:
    You’ll spot a bright globular cluster nearby. It’s M22, a 5th-magnitude cluster within easy reach of
    binoculars.<br/>

    <b>On Feb. 15</b>, Mercury reaches magnitude 0 and is 14.5° east of Mars. The next day, Mercury reaches
    greatest western elongation, standing 26° from the Sun. Compare the angular separation of this innermost
    planet with the next planet out, Venus, which reaches its greatest elongation next month.<br/>
</p>