<h1>
    Sky This Month: January 2022
</h1>

<h3>
    Four planets line up.
</h3>

<img src="https://astronomy.com/-/media/Images/Magazine%20Articles/2022/01/ASYSM0122_07.jpg?mw=600"/><br/>
<figcaption>Four planets align in the evening sky as viewed from Alberta, Canada, in March 1999. Mercury is
    lowest, nearly lost in the twilight. Above it is Jupiter, then bright Venus, and finally Saturn. A similar
    lineup will greet us this New Year.</figcaption>

<p>
    The new year opens with a spectacular array of planets lined up in the western sky soon after sunset. Mercury, Venus, Jupiter, and Saturn offer nightly fascination. A crescent Moon skips along this line of planets over a few nights early in the month. The inner pair of planets, Mercury and Venus, swaps places in the first week of January. Mercury remains in view through midmonth, while Jupiter and Saturn are visible all month. Uranus and Neptune can be spotted with binoculars, riding high in the southern sky after sunset. Only Mars is missing from the nightly lineup — it’s over in the morning sky, transiting the rich star clouds of the Milky Way.

    Four major planets crowd the evening twilight sky in early January, strung like jewels on a necklace along the line of the ecliptic. Catch them Jan. 1, because Venus will dip out of view after the first few days of the month. It’s heading to a Jan. 8 inferior conjunction. On Jan. 1, Venus sets about 1 hour after the Sun. Look for it 5° high in the southwest 30 minutes after sunset, shining at magnitude –4.2. Nearby, just 8° to the upper left, is Mercury, glowing a fainter magnitude –0.7.

    The pair of inner planets is joined by a 1-day-old, very slender (2 percent lit) crescent Moon Jan. 3, just 11.5° left of Venus. Look 12° above our satellite for the ringed planet Saturn (magnitude 0.7) in Capricornus. Higher still, in Aquarius, lies Jupiter, shining at magnitude –2.1. The four major planets span a total of nearly 40°.
</p>

<img src="https://astronomy.com/-/media/Images/Magazine%20Articles/2022/01/ASYSM0122_06.png?mw=600"/><br/>
<figcaption><b>String of planets</b>
    Venus, Mercury, Saturn, and Jupiter add sparkle to the New Year, while a thin crescent Moon joins in, too.</figcaption>

<p>
    <b>Venus</b> drops out of view soon after — how long can you keep track of it in the evening sky? It will reappear
    in the morning sky around midmonth, rising in the east about an hour before the Sun and shining at magnitude
    –4.3.<br/>

    Venus’ visibility improves in a darker sky throughout the rest of the month, and it stands 12° high an hour
    before sunrise on Jan. 31. Through a telescope, Venus changes from a 1'-wide slender crescent that is 1
    percent lit on Jan. 15 to a 50"-wide, 15-percent-lit disk on Jan. 31.<br/>

    Meanwhile, Mercury is rising higher each evening, improving its visibility. It climbs toward Saturn and
    reaches greatest elongation east (19° from the Sun) Jan. 7, then shining at magnitude –0.5.<br/>

    <b>Saturn and Mercury</b> appear closest on the evenings of Jan. 12 and 13, separated by 3.4°. Mercury has dipped
    in brightness to magnitude 0.4 by the 14th, and matches Saturn’s brilliance the next evening. The smaller
    planet fades further as it begins a brisk inward path to its Jan. 23 inferior conjunction. By Jan. 17, it
    has dimmed to magnitude 1.7 and become much harder to spot in bright twilight. Mercury sets within an hour
    of sunset.<br/>

    <b>Saturn</b> falls in altitude each evening as well. On Jan. 4, catch the Moon and Saturn side by side, separated
    by about 5°. Saturn becomes lost in the solar glow a few days after Mercury and is no longer easily observable.
    It’s only 5° high 30 minutes after sunset on Jan. 20 and, at magnitude 0.7, it’s easily lost in twilight.<br/>

    <b>Jupiter</b> maintains its visibility throughout the month. It’s a fine object in late twilight in the first week
    of January and is the brightest of the evening planets after Venus leaves the scene. On Jan. 1, Jupiter stands
    roughly 30° high in the southwest an hour after sunset. On Jan. 5, Jupiter is 5° north of the crescent Moon,
    now just over 3 days old.<br/>

    Jupiter’s disk spans 35" and easily shows off its dusky orange pair of dark equatorial belts in any
    telescope. The four Galilean moons are on ready display — catch them this month before Jupiter leaves the
    evening sky in mid-February. It’s your last chance before solar conjunction to watch the changing configuration
    of the four moons.<br/>

    Although the observing window for seeing satellite transits is narrow, don’t miss the Jan. 5 transit
    of Ganymede’s large shadow — the event’s long duration (3.5 hours) means most observers across the U.S.
    will see part of the transit as darkness falls, although you’ll need to catch it early if you’re in the Pacific time zone. It begins at 6:20 P.M. EST and ends at 9:50 P.M. EST — that’s 6:50 P.M. PST for those in the
    western U.S. As its shadow creeps across Jupiter’s face, Ganymede itself stands west of the planet.<br/>
</p>