<h1>The Sky This Week: Bask in the Full Snow Moon</h1>
<h3>Venus reaches greatest brilliancy while you can sneak a peek beyond the lunar south pole from February 11 to 18.</h3>

<p>
    <h4>Friday, February 11</h4>
    Jupiter and Neptune hang in the western sky this evening after the Sun has set. If you’re going to observe them, opt for Jupiter first. The solar system’s largest world will set roughly an hour after the Sun, affording less time to view it, particularly before it sinks too low into the thicker, more turbulent air near the horizon.

    Jupiter glows at magnitude –2, making it easy to find as the sky grows dark. It sits smack dab in the middle of Aquarius, just over 2° below magnitude 3.7 Hydor (Lambda [λ] Aquarii). Tonight, the planet’s disk spans 33" and is accompanied by all four of its Galilean moons, but these may be difficult to pick out with a bright background and potentially poor seeing.

    Once the sky grows a bit darker and good prospects for Jupiter are gone, look 12° northeast of the giant planet to find 8th-magnitude Neptune. You’ll need binoculars or a telescope to spot it, less than 4.5° northeast of 6th-magnitude Phi (ϕ) Aquarii. Neptune sets about three hours after the Sun, so there’s a bit more time to enjoy this distant world through your eyepiece.

        <b>Sunrise</b>: 6:58 A.M.<br/>
        <b> Sunset</b>: 5:32 P.M.<br/>
        <b> Moonrise</b>: 12:47 P.M.<br/>
        <b> Moonset</b>: 3:37 A.M.<br/>
        <b> Moon Phase</b>: Waxing gibbous (78%)<br/>

    <i>*Times for sunrise, sunset, moonrise, and moonset are given in local time from 40° N 90° W. The Moon’s
        illumination is given at 12 P.M. local time from the same location.</i>
</p>

<img src="https://astronomy.com/-/media/Images/Magazine%20Articles/2022/02/ASYSM0222_07.png?mw=600"/><br/>
<figcaption><b>Venus’ big day</b><br/>
    Venus shares the morning sky with Mercury and Mars on Feb. 12, when it reaches greatest brilliancy.</figcaption>

<p>
    <h4>Saturday, February 12</h4>
    Venus officially reaches greatest brilliancy when it is 26 percent lit. That moment occurs at 1 P.M.
    EST today.<br/>

    Earth’s sister planet is blazing at magnitude –4.9 in the southeastern sky before dawn this morning.
    Venus rises around 4:30 A.M. local time but, because it’s so bright, you can observe it far into twilight
    as sunrise approaches — just make sure to put away your binoculars or telescope a few minutes before local
    sunrise to prevent accidental (and serious) damage to your eyes.<br/>

    The planet is not often quite this bright at greatest brilliancy — typically it reaches only magnitude
    –4.5. But this time around, Venus is a bit closer to Earth than usual — only 38 million miles (61 million
    kilometers) — resulting in greater brightness.<br/>

    Venus also passes 7° north of Mars later today at 8 P.M. EST. This morning, the two planets are roughly
    the same distance apart, both floating just north of the handle of the Teapot asterism in Sagittarius.
    Mars shines a much dimmer magnitude 1.3 and, through a telescope, its 4"-wide disk appears 95 percent lit.<br/>

    <b>Sunrise</b>: 6:56 A.M.<br/>
    <b> Sunset</b>: 5:33 P.M.<br/>
    <b> Moonrise</b>: 1:36 P.M.<br/>
    <b> Moonset</b>: 4:32 A.M.<br/>
    <b> Moon Phase</b>: Waxing gibbous (85%)<br/>

    <h4>Sunday, February 13</h4>
    The quickly waxing Moon floats in Gemini tonight, hanging near its two bright stars Castor and Pollux.
Let’s seek out another bright target tonight: The brightest, in fact, if you’re taking about stars! Sirius,
also cataloged as Alpha (α) Canis Majoris and sometimes called the Dog Star, is the brightest star in the
northern sky. A beacon at magnitude –1.4, you can’t miss it as it climbs above the southeastern horizon,
already more than 20° high an hour after sunset.<br/>

    Although it’s easy to see this star with the naked eye, try inspecting it with binoculars or a
telescope, particularly early in the evening. That’s when Sirius will be most affected by motion within
Earth’s atmosphere, causing it to scintillate, or twinkle. Although astronomers try to avoid this effect
when studying targets, the results can be visually stunning. You may see the star appear to both dance in
place and alternate through a wide range of vivid hues, almost like a color-changing LED light. Take a look
— you won’t be disappointed!<br/>

    <b>Sunrise</b>: 6:55 A.M.<br/>
    <b>Sunset</b>: 5:34 P.M.<br/>
    <b>Moonrise</b>: 2:30 P.M.<br/>
    <b>Moonset</b>: 5:22 A.M.<br/>
    <b>Moon Phase</b>: Waxing gibbous (92%)<br/>
</p>
    <img src="https://astronomy.com/-/media/Images/Magazine%20Articles/2022/02/RisingMoonFebruary2022.png?mw=600"/><br/>

<p>
    <h4>Monday, February 14</h4>
    This month, skywatchers are getting something special: a glimpse beyond the lunar south pole. You’re
looking for Mount Clementine, officially known only as M5. It’s one of the easiest farside features to see
and spends most of each lunar month in continuous sunlight.<br/>

    Starting tonight and returning over the next several nights, pull out your telescope and aim it at the
southern regions of our satellite. You’ll immediately notice the fantastic 3D look of the lunar limb. Because
the Moon is sitting just above the Earth-Sun plane, called the ecliptic, we get a peek at features past the
pole that we normally don’t get to see. You’ll observe rugged terrain that casts sharp black shadows; these
pools of darkness stretch southward as lunar noon approaches.<br/>

    Use our guide above to locate both Mount Clementine and a neighboring feature, M4. The craters Casatus,
Moretus, and Newton should help you make sure you’re in the right spot. Watch from day to day as these
mountains’ shadows move with the changing Sun angle. If the glare is too bright, bump up the magnification
— this reduces the amount of the lunar surface you’re viewing and cuts down on its reflected light as well.<br/>

    <b>Sunrise</b>: 6:54 A.M.<br/>
    <b> Sunset</b>: 5:35 P.M.<br/>
    <b> Moonrise</b>: 3:31 P.M.<br/>
    <b> Moonset</b>: 6:05 A.M.<br/>
    <b>Moon Phase</b>: Waxing gibbous (96%)<br/>

</p>
<img src="https://astronomy.com/-/media/Images/Magazine%20Articles/2022/02/ASYSM0222_02.png?mw=600"/><br/>
<figcaption><b>Comet 19P/Borrelly</b><br/>
    Comet Borrelly tracks from Pisces into Aries as February progresses, passing the 9th-magnitude face-on spiral galaxy M74 along the way. The position of Uranus is shown on Feb. 15.</figcaption>