<h1>Third exoplanet found around closest star to Earth</h1>
<h3><b>The planetary family around Proxima Centauri, the closest star to Earth, just keeps growing.</b></h3>
<img src="https://astronomy.com/-/media/Images/News%20and%20Observing/News/2022/02/LowRes_eso2202a.png?mw=600"/>
<p>
    A little over four light-years away is Alpha Centauri, the closest star system to the Sun.
    And in August 2016, researchers announced they’d found a long-searched-for planet around Proxima
    Centauri, the smallest — and closest — component of this three-star system. Then, in January 2020,
    astronomers spotted a second world around Proxima Centauri. And now, the star’s family tree appears to
    be growing again: A third terrestrial planet has been found orbiting the nearest star to Earth.
</p>

<h4>A new addition</h4><br/>
<p>In a study published Feb. 10 in Astronomy & Astrophysics, astronomers announced the discovery
    of Proxima d. This tiny planet, weighing in at just one-quarter the mass of Earth, orbits Proxima
    Centauri every five days at a distance of some 2.5 million miles (4 million kilometers), or less
    than one-tenth the distance of Mercury from our own Sun. But because Proxima Centauri is a red dwarf
    with only about 12 percent the Sun’s mass and 14 percent its diameter, this puts Proxima d in the star’s
    habitable zone, where conditions are just right for liquid water to potentially exist on its surface.
</p>

<p>Proxima d was discovered using the radial velocity method, during which astronomers carefully watch a
    star to look for subtle changes in position, which occur as the gravity of an orbiting planet tugs on
    its star. This is the same method used to detect Proxima Centauri’s other two planets, Proxima b and c.
    But these planets are more massive — in fact, Proxima d is the lightest exoplanet to date ever discovered
    using this method.
</p>
<h4>Family tree</h4>
<p>So, how does this new addition to the family stack up against its siblings?<br/>
Proxima b, the first planet discovered around this star, is roughly the same mass as Earth and orbits
        every 11.2 days at a distance of 4.3 million miles (7 million km), or about 5 percent the distance
        Earth orbits the Sun. But again, because Proxima Centauri is much smaller than our star, Proxima b
        also orbits in its habitable zone.
</p>

Proxima c is different: It’s a super-Earth weighing in at about six times our planet’s mass, with an orbital period of 5.2 years. That puts its orbit, at about 130 million miles (224 million km), beyond the habitable zone.<br/>

<h4>New worlds</h4>
<p>
    Researchers discovered Proxima d using a new instrument called the Echelle SPectrograph for Rocky
    Exoplanets and Stable Spectroscopic Observations, or ESPRESSO, on the European Southern Observatory’s
    Very Large Telescope in Chile. Now that the instrument has shown its mettle, astronomers are hoping to
    use it to uncover many more terrestrial worlds perhaps much like our own, both close to and far from home.
</p>
