<h1>Why galaxy M77’s active nucleus is hiding</h1>
<h3>New, highly detailed images show a supermassive black hole cloaked inside a doughnut of dust
    — exactly as expected.</h3>

<img src="https://astronomy.com/-/media/Images/News%20and%20Observing/News/2022/02/eso2203a.jpg?mw=600"/><br/>
<figcaption>At the center of galaxy M77 (which appears at left in optical light) is a dusty disk hiding a supermassive black hole, whose light is reprocessed into infrared wavelengths, pictured at right.</figcaption>
<p>
    Astronomers using a collection of four 8.2-meter telescopes in Chile have just gotten a detailed look at
    the heart of galaxy M77, some 47 million light-years away. Their new image shows that the galaxy’s
    energetic supermassive black hole, called an active galactic nucleus or AGN, is completely cloaked within
    a ring of gas and dust. And putting together this picture confirms via observational evidence a
    longstanding theory that explains the many types of feeding black holes we see at the centers of large
    galaxies.<br/>

    The work was published today in Nature.
</p>

<img src="	https://astronomy.com/-/media/Images/Magazine%20Articles/2019/March/AGN.png?mw=600"/><br/>
<figcaption>The unified model of AGN states that all AGN contain the same components, simply viewed at
    different angles. From the inside out, AGN contain a supermassive black hole; an accretion disk and a
    hot corona of gas; a fast-moving gas region; an obscuring torus of dust; and a slower-moving gas region.
    Some AGN have powerful jets, which may be pointed toward Earth.</figcaption>
<p>
    <h4>Point of view</h4>
    The key to this theory, called the Unified Model, is that although we see many different signals coming
    from various AGN across the universe, there actually aren’t different types of black holes in different
    galaxies. Instead, the model states that all AGN are inherently the same, comprising a feeding supermassive
    black hole surrounded by a torus, or doughnut-shaped ring, of dust. Depending on the angle at which we’re
    viewing the system, we might be either looking directly at the black hole down one of the open ends or
    instead peering through the thick side of the ring. And it is ultimately these varying viewing angles that
    account for the different classes of AGN we see, which range from blazingly bright beacons screaming at us
    across the electromagnetic spectrum in the first case (also called type 1 AGN) to those that glow softly
    only in low-energy light, such as infrared, in the second (type 2 AGN).

    M77 falls into that second class: It is a relatively dim AGN that astronomers have long suspected is
    shining at us through a thick, all-encompassing buffer of dust. And indeed, images have previously
    spotted warm dust near the center of the galaxy. But some recent observations had suggested that perhaps
    the ring of dust around the black hole was too thin and not oriented at just the right angle to hide it as
    expected, challenging rather than supporting the Unified Model.

    <h4>A clearer picture</h4>
    Researchers needed a better picture of what was going on. So, they zeroed in on the galaxy’s center with
    an instrument called MATISSE, which combines infrared light coming from the four separate telescopes that
    make up the European Southern Observatory’s Very Large Telescope. The technique used to combine that light,
    called interferometry, dramatically boosts the amount of detail visible in images. When combined with radio
    data from the Atacama Large Millimeter/submillimeter Array and the National Radio Astronomy Observatory’s
    Very Long Baseline Array, the picture was clear enough to let the team map out M77’s central dust by
    temperature and absorption to pin down exactly where the black hole sits within the dust. Their final
    result: The black hole is completely embedded in the thicker, ring-shaped center of a larger, edge-on
    disk of dust. This highly detailed picture confirms exactly what is expected from the Unified Model.<br/>

    Now the trick will be to determine whether M77’s black hole is indeed typical and whether the Unified
    Model accurately predicts what we see in other galaxies. Now that MATISSE has proven its worth, researchers
    can use it to peer at other AGN to observe whether they, too, match expectations. And, because the
    evolution of galaxies and their AGN are inextricably linked, better understanding these objects will
    in turn lead to a more complete picture of how galaxies form, evolve, and ultimately die.
</p>